@use "./variables.scss" as *;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f9f9;
  position: relative;
  overflow-y: scroll;
}
.main {
  margin-top: calc($navbar);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
  margin: 0;
}
.-required {
  color: red;
}
.text-sub {
  color: $sub;
}
